
html, 
body {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 100%;

  background-color: #1a1a1a;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}





/* * Font */
@font-face {
  font-family: "Bebas Neue";
  src:url("/BebasNeue-Regular.ttf");
}





/* * Текст кнопок */
.button span{
  color: #f3fdf5;
  font-size: 22px;
  text-shadow: -1px -1px 0 #0b9216, 1px -1px 0 #0b9216, -1px 1px 0 #0b9216, 1px 1px 0 #0b9216;
  font-family: 'Bebas Neue', cursive;
}





/* * Круги */
.green {
  /* position */
  position: absolute;
  width: 220px;
  height: 220px;
  float: right;
  right: 100px;
  top:100px;
}

.green.grab:hover{
  /* decoration */
  cursor: grab;
}

.green.grabbing:hover{
  /* decoration */
  cursor: grabbing;
}

.green .progress {
  /* decoration */
  border-radius: 50%;
  border: 10px solid #53fc53;
  box-shadow: 0 6px 0 2px #03bc03;
}

.green .progress .inner {
  /* position */
  position: relative;
  width: 200px;
  height: 200px;
  /* decoration */
  border-radius: 50%;
  border: 10px solid #ffffff;
  -webkit-box-shadow: 0 8px 0 #c2c2c2 inset;
  box-shadow: 0 8px 0 #c2c2c2 inset;
  overflow: hidden;
}





/* * Жидкость */
.green .progress .inner .water {
  /* position */
  position: relative;
  z-index: 1;
  width: 150%;
  height: 150%;
  left: -25%;
  margin-top: -40%;
  /* decoration */
  border-radius: 40%;
  box-shadow: 0 0 5px #83e083;
  /* animation */
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-name: spin;
  animation-name: spin;
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
}

.green .progress .inner .water {
  /* TODO Регулировать opcaity или background-color */
  top: 100%;
  background-color: #72ff72;
  opacity: 50%;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}





/* Капли */
.waterdrop-one {
  /* position */
  position: relative;
  z-index: 555;
  top: -280px;
  width: 20px;
  height: 20px;
  /* decoration */
  background-color: #72ff72;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 75px;
  -webkit-border-bottom-right-radius: 75px;
  -webkit-border-bottom-left-radius: 75px;
  border-top-left-radius: 0;
  border-top-right-radius: 75px;
  border-bottom-right-radius: 75px;
  border-bottom-left-radius: 75px;
}

.waterdrop-one-animation{
  -webkit-animation: kf-waterdrop-one 0.75s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: kf-waterdrop-one 0.75s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes kf-waterdrop-one {
  0% {
    -webkit-transform: scale(0.1) translateY(0px) rotate(30deg);
            transform: scale(0.1) translateY(0px) rotate(30deg);
  }
  10% {
    -webkit-transform: scale(0.15) translateY(10px) rotate(40deg);
            transform: scale(0.15) translateY(10px) rotate(40deg);
  }
  20% {
    -webkit-transform: scale(0.18) translateY(20px) rotate(50deg);
            transform: scale(0.18) translateY(20px) rotate(50deg);
  }
  30% {
    -webkit-transform: scale(0.2) translateY(30px) rotate(60deg);
            transform: scale(0.2) translateY(30px) rotate(60deg);
  }
  40% {
    -webkit-transform: scale(0.35) translateY(50px) rotate(70deg);
            transform: scale(0.35) translateY(50px) rotate(70deg);
  }
  50% {
    -webkit-transform: scale(0.5) translateY(70px) rotate(80deg);
            transform: scale(0.5) translateY(70px) rotate(80deg);
  }
  60% {
    -webkit-transform: scale(0.7) translateY(100px) rotate(70deg);
            transform: scale(0.7) translateY(100px) rotate(70deg);
  }
  70% {
    -webkit-transform: scale(0.9) translateY(140px) rotate(60deg);
            transform: scale(0.9) translateY(140px) rotate(60deg);
  }
  80% {
    -webkit-transform: scale(1.1) translateY(160px) rotate(50deg);
            transform: scale(1.1) translateY(160px) rotate(50deg);
  }
  90% {
    -webkit-transform: scale(1.3) translateY(180px) rotate(40deg);
            transform: scale(1.3) translateY(180px) rotate(40deg);
  }
  100% {
    -webkit-transform: scale(1.5) translateY(220px) rotate(45deg);
            transform: scale(1.5) translateY(220px) rotate(45deg);
  }
}

@keyframes kf-waterdrop-one {
  0% {
    -webkit-transform: scale(0.1) translateY(0px) rotate(30deg);
            transform: scale(0.1) translateY(0px) rotate(30deg);
  }
  10% {
    -webkit-transform: scale(0.15) translateY(10px) rotate(40deg);
            transform: scale(0.15) translateY(10px) rotate(40deg);
  }
  20% {
    -webkit-transform: scale(0.18) translateY(20px) rotate(50deg);
            transform: scale(0.18) translateY(20px) rotate(50deg);
  }
  30% {
    -webkit-transform: scale(0.2) translateY(30px) rotate(60deg);
            transform: scale(0.2) translateY(30px) rotate(60deg);
  }
  40% {
    -webkit-transform: scale(0.35) translateY(50px) rotate(70deg);
            transform: scale(0.35) translateY(50px) rotate(70deg);
  }
  50% {
    -webkit-transform: scale(0.5) translateY(70px) rotate(60deg);
            transform: scale(0.5) translateY(70px) rotate(60deg);
  }
  60% {
    -webkit-transform: scale(0.6) translateY(100px) rotate(50deg);
            transform: scale(0.6) translateY(100px) rotate(50deg);
  }
  70% {
    -webkit-transform: scale(0.7) translateY(140px) rotate(40deg);
            transform: scale(0.7) translateY(140px) rotate(40deg);
  }
  80% {
    -webkit-transform: scale(0.8) translateY(160px) rotate(30deg);
            transform: scale(0.8) translateY(160px) rotate(30deg);
  }
  90% {
    -webkit-transform: scale(0.9) translateY(180px) rotate(40deg);
            transform: scale(0.9) translateY(180px) rotate(40deg);
  }
  100% {
    -webkit-transform: scale(1.0) translateY(220px) rotate(45deg);
            transform: scale(1.0) translateY(220px) rotate(45deg);
  }
}





/* Проценты */
#percent{
  /* position */
  position: relative;
  z-index: 666;
  top: 35%;
  /* decoration */
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  color: #74ff74;
  mix-blend-mode: color-dodge;
}



/* * Панели */

/* * Верхняя панель */
#panel-top{
  /* position */
  position: relative; 
  z-index: 3;
  width: 90px;
  height: 18px;
  float: right;
  top: -17%;
  right: 25%;
  /* decoration */
  outline: none;
  background-color: #53fc53;
  border: 10px solid #53fc53;
  border-bottom: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  /* animation */
  -webkit-transition: all 0.25s cubic-bezier(.44,.19,.01,1.01);
  -moz-transition: all 0.25s cubic-bezier(.44,.19,.01,1.01);
  -o-transition: all 0.25s cubic-bezier(.44,.19,.01,1.01);
  -ms-transition: all 0.25s cubic-bezier(.44,.19,.01,1.01);
  transition: all 0.25s cubic-bezier(.44,.19,.01,1.01);
}

#panel-top:hover{
  /* position */
  height: 40px;
  margin-top: -22px;
}

#panel-top #button-toxic{
  /* position */
  opacity: 0%;
  position: relative;
  top: -15px;
  left: -5px;
  width: 80px;
  height: 0px;
  /* decoration */
  text-align: center;
  border: 0.5px solid #1dd11d00;
  border-radius: 5px;
  /* animation */
  -webkit-transition: all 0.25s cubic-bezier(.44,.19,.01,1.01);
  -moz-transition: all 0.25s cubic-bezier(.44,.19,.01,1.01);
  -o-transition: all 0.25s cubic-bezier(.44,.19,.01,1.01);
  -ms-transition: all 0.25s cubic-bezier(.44,.19,.01,1.01);
  transition: all 0.25s cubic-bezier(.44,.19,.01,1.01);
}

#panel-top:hover #button-toxic{
  /* position */
  top: -5px;
  /* decoration */
  opacity: 100%;
  height: 29px;
  border: 0.5px solid #1dd11d;
}

#panel-top #button-toxic:active{
  /* decoration */
  -webkit-box-shadow: 0 6px 0 #1dd11d inset;
  box-shadow: 0 6px 0 #1dd11d inset;
  background-color: #4de94d;
}

#panel-top #button-toxic span{
  /* position */
  position: relative;
  top: -1px;
  /* decoration */
  color: #f3fdf5;
  font-size: 22px;
  /* animation */
  -webkit-transition: all 0.25s cubic-bezier(.44,.19,.01,1.01);
  -moz-transition: all 0.25s cubic-bezier(.44,.19,.01,1.01);
  -o-transition: all 0.25s cubic-bezier(.44,.19,.01,1.01);
  -ms-transition: all 0.25s cubic-bezier(.44,.19,.01,1.01);
  transition: all 0.25s cubic-bezier(.44,.19,.01,1.01);
}

#panel-top #button-toxic:hover{
  /* decoration */
  cursor: pointer;
}

#panel-top #button-toxic:active span{
  /* position */
  top: 5px;
  /* decoration */
  color: #d6e0da;
  font-size: 20px;
}





/* * Правая панель */
#panel-right{
  /* position */
  position: relative; 
  z-index: 1;
  width: 15px;
  height: 50px;
  float: right;
  top: 66px;
  right: -121px;
  /* decoration */
  outline: none;
  background-color: #53fc53;
  border: 10px solid #53fc53;
  border-left: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  -webkit-box-shadow: 0 6px 0 #03bc03,;
  box-shadow: 0 6px 0 #03bc03;
  /* animation */
  -webkit-transition: all 0.25s cubic-bezier(.44,.19,.01,1.01);
  -moz-transition: all 0.25s cubic-bezier(.44,.19,.01,1.01);
  -o-transition: all 0.25s cubic-bezier(.44,.19,.01,1.01);
  -ms-transition: all 0.25s cubic-bezier(.44,.19,.01,1.01);
  transition: all 0.25s cubic-bezier(.44,.19,.01,1.01);
}

#panel-right:hover{
  /* position */
  top: 66px;
  right: -196px;
  width: 90px;
  /* NOTE Нужно, чтобы не ломалась анимация панели, при увеличении*/
  transition: none;
}


/* * * * * * * * */
/* * Кнопка 1 * */
/* * * * * * * */
#panel-right #button-size{
  /* position */
  position: relative;
  float: left;
  top: -5px;
  width: 0px;
  height: 40px;
  /* decoration */
  opacity: 0%;
  text-align: center;
  border: 0.5px solid #1dd11d00;
  border-radius: 5px;
  /* animation */
  -webkit-transition: all 0.25s cubic-bezier(.44,.19,.01,1.01);
  -moz-transition: all 0.25s cubic-bezier(.44,.19,.01,1.01);
  -o-transition: all 0.25s cubic-bezier(.44,.19,.01,1.01);
  -ms-transition: all 0.25s cubic-bezier(.44,.19,.01,1.01);
  transition: all 0.25s cubic-bezier(.44,.19,.01,1.01);
}

#panel-right:hover #button-size{
  /* position */
  opacity: 100%;
  left: 0px;
  width: 40px;
  /* decoration */
  border: 0.5px solid #1dd11d;
}

#panel-right #button-size:active{
  /* decoration */
  -webkit-box-shadow: 0 6px 0 #1dd11d inset;
  box-shadow: 0 6px 0 #1dd11d inset;
  background-color: #4de94d;
}

#panel-right #button-size span{
  /* position */
  position: relative;
  top:0px;
  /* decoration */
  color: #f3fdf5;
  font-weight: bold;
  font-size: 30px;
  /* animation */
  -webkit-transition: all 0.25s cubic-bezier(.44,.19,.01,1.01);
  -moz-transition: all 0.25s cubic-bezier(.44,.19,.01,1.01);
  -o-transition: all 0.25s cubic-bezier(.44,.19,.01,1.01);
  -ms-transition: all 0.25s cubic-bezier(.44,.19,.01,1.01);
  transition: all 0.25s cubic-bezier(.44,.19,.01,1.01);
}

#panel-right #button-size.zoom-out:hover{
  /* decoration */
  cursor: zoom-out;
}

#panel-right #button-size:active span{
  /* position */
  top: 7px;
  /* decoration */
  color: #d6e0da;
  font-size: 28px;
}


/* * * * * * * * */
/* * Кнопка 2 * */
/* * * * * * * */
#panel-right #button-hide{
  /* position */
  position: relative;
  float: right;
  top: -5px;
  width: 0px;
  height: 40px;
  /* decoration */
  opacity: 0%;
  text-align: center;
  border: 0.5px solid #1dd11d00;
  border-radius: 5px;
  /* animation */
  -webkit-transition: all 0.25s cubic-bezier(.44,.19,.01,1.01);
  -moz-transition: all 0.25s cubic-bezier(.44,.19,.01,1.01);
  -o-transition: all 0.25s cubic-bezier(.44,.19,.01,1.01);
  -ms-transition: all 0.25s cubic-bezier(.44,.19,.01,1.01);
  transition: all 0.25s cubic-bezier(.44,.19,.01,1.01);
}

#panel-right:hover #button-hide{
  /* position */
  right: -5px;
  width: 40px;
  /* decoration */
  opacity: 100%;
  border: 0.5px solid #1dd11d;
}

#panel-right #button-hide:active{
  /* decoration */
  -webkit-box-shadow: 0 6px 0 #1dd11d inset;
  box-shadow: 0 6px 0 #1dd11d inset;
  background-color: #4de94d;
}

#panel-right #button-hide span{
  /* position */
  position: relative;
  top:0px;
  /* decoration */
  color: #f3fdf5;
  font-weight: bold;
  font-size: 30px;
  /* animation */
  -webkit-transition: all 0.25s cubic-bezier(.44,.19,.01,1.01);
  -moz-transition: all 0.25s cubic-bezier(.44,.19,.01,1.01);
  -o-transition: all 0.25s cubic-bezier(.44,.19,.01,1.01);
  -ms-transition: all 0.25s cubic-bezier(.44,.19,.01,1.01);
  transition: all 0.25s cubic-bezier(.44,.19,.01,1.01);
}

#panel-right #button-hide.zoom-out:hover{
  /* decoration */
  cursor: zoom-out;
}

#panel-right #button-hide:active span{
  /* position */
  top: 7px;
  /* decoration */
  color: #d6e0da;
  font-size: 28px;
}





/* * Нижняя панель */
#panel-bottom{
  /* position */
  position: relative;
  z-index: 5;
  float: right;
  top: 77%;
  right: 25%;
  width: 90px;
  height: 15px;
  /* decoration */
  outline: none;
  background-color: #53fc53;
  border: 10px solid #53fc53;
  border-top: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  -webkit-box-shadow: 0 8px 0 #03bc03;
  box-shadow: 0 8px 0 #03bc03;
  /* animation */
  -webkit-transition: all 0.25s cubic-bezier(.44,.19,.01,1.01);
  -moz-transition: all 0.25s cubic-bezier(.44,.19,.01,1.01);
  -o-transition: all 0.25s cubic-bezier(.44,.19,.01,1.01);
  -ms-transition: all 0.25s cubic-bezier(.44,.19,.01,1.01);
  transition: all 0.25s cubic-bezier(.44,.19,.01,1.01);
}

#panel-bottom:hover{
  /* position */
  height: 40px;
  margin-bottom: -15px;
}

#panel-bottom #button-untoxic{
  /* position */
  position: relative;
  top: 25%;
  left: -5px;
  width: 80px;
  height: 0px;
  /* decoration */
  opacity: 0%;
  text-align: center;
  border: 0.5px solid #1dd11d00;
  border-radius: 5px;
  /* animation */
  -webkit-transition: all 0.25s cubic-bezier(.44,.19,.01,1.01);
  -moz-transition: all 0.25s cubic-bezier(.44,.19,.01,1.01);
  -o-transition: all 0.25s cubic-bezier(.44,.19,.01,1.01);
  -ms-transition: all 0.25s cubic-bezier(.44,.19,.01,1.01);
  transition: all 0.25s cubic-bezier(.44,.19,.01,1.01);
}

#panel-bottom:hover #button-untoxic{
  /* position */
  top: 18%;
  height: 30px;
  /* decoration */
  opacity: 100%;
  border: 0.5px solid #1dd11d;
}

#panel-bottom #button-untoxic:active{
  /* decoration */
  -webkit-box-shadow: 0 6px 0 #1dd11d inset;
  box-shadow: 0 6px 0 #1dd11d inset;
  background-color: #4de94d;
}

#panel-bottom #button-untoxic span{
  /* position */
  position: relative;
  top: 0px;
  /* decoration */
  color: #f3fdf5;
  font-size: 22px;
  /* animation */
  -webkit-transition: all 0.25s cubic-bezier(.44,.19,.01,1.01);
  -moz-transition: all 0.25s cubic-bezier(.44,.19,.01,1.01);
  -o-transition: all 0.25s cubic-bezier(.44,.19,.01,1.01);
  -ms-transition: all 0.25s cubic-bezier(.44,.19,.01,1.01);
  transition: all 0.25s cubic-bezier(.44,.19,.01,1.01);
}

#panel-bottom #button-untoxic:hover{
  /* decoration */
  cursor: pointer;
}

#panel-bottom #button-untoxic:active span{
  /* position */
  top: 6px;
  /* decoration */
  color: #d6e0da;
  font-size: 20px;
}





/* * Центральная кнопка перемещения */
#button-holder{
  /* position */
  position: relative;
  z-index: 777;
  top: -90%;
  height: 180px;
  width: 180px;
  margin: 0 auto;
  /* decoration */
  /* background-color: #e5ff004f; */
  border-radius: 50%;
}










/* * Уменьшение-Увеличение */
#green {
  /* animation */
  transition: transform 0.15s;
}

#green.small{
  transform: scale(0.3);
  transition: transform 0.15s;
  opacity: 25%;
}

#green.small:hover{
  transform: opacity(100%);
  transition: transform 0.15s;
  opacity: 100%;
}

#green.small #panel-top{
  display: none;
}

#green.small #panel-right{
  right: -31px;
  /* NOTE Нужно, чтобы не ломалась анимация панели, при уменьшении*/
  transition: transform 0s;
}

#green.small #panel-right:hover{
  right: -106px;
}

#green.small #panel-bottom{
  display: none;
}

#green.small #percent{
  opacity: 0%;
}








/* * Скрытие*/
#green {
  /* animation */
  transition: transform 0.15s;
}

#green.hide{
  transform: scale(0.1);
  opacity: 15%;
  /* pointer-events: none; */
}

#green.hide #panel-right{
  display: none;
}









/* Прозрачность воды */
/* unToxic - пар */




#app{
  position: absolute;
  float: right;
  top: 0px;
  right: 0px;
  height: 500px;
  width: 500px;
  margin: 0 auto;
}

#app.red{
  background: red;
}

#app.black{
  background: #1a1a1a;
}





